<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  <listener class-name="Assgmnt.FrmwrkMag.TestComponents.Listeners"/>
  </listeners>
  <test thread-count="5" name="AddtoCart">
    <classes>
      <class name="Assgmnt.FrmwrkMag.Tests.AddtoCart"/>
     

    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Login Test">
    <classes>
   
      <class name="Assgmnt.FrmwrkMag.Tests.AppLogin"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="Create Account">
    <classes>

      <class name="Assgmnt.FrmwrkMag.Tests.CreateAcc"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
